# Vamos analisar a média de produção de Terawatts/Hora em diferentes fontes de energia ao longo de 27 anos.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as scp

In [4]:
df = pd.read_csv("renewablePowerGeneration97-17.xls", index_col='Year')
df

      Hydro(TWh)  Biofuel(TWh)  Solar PV (TWh)  Geothermal (TWh)
Year
1990     2191.67          3.88            0.09             36.42
1991     2268.63          4.19            0.10             37.39
1992     2267.16          4.63            0.12             39.30
1993     2397.67          5.61            0.15             40.23
1994     2419.73          7.31            0.17             41.05
1995     2545.96          7.95            0.19             39.89
1996     2583.18          9.45            0.22             42.18
1997     2614.54         12.08            0.27             42.38
1998     2628.63         16.07            0.35             45.35
1999     2636.26         21.52            0.61             48.66
2000     2695.85         31.34            0.99             51.98
2001     2638.20         38.45            1.32             51.57
2002     2711.12         52.85            1.58             52.29
2003     2726.33         64.23            2.01             54.09
2004     2894.22         84.43            2.66             56.50
2005     3019.50        103.92            3.92             58.28
2006     3124.34        133.05            5.52             59.61
2007     3165.71        170.83            7.47             62.29
2008     3285.59        221.05           11.92             64.91
2009     3338.82        277.44           20.04             67.03
2010     3530.72        341.38           32.22             68.10
2011     2603.78        436.01           63.76             69.29
2012     3765.96        525.04           99.03             70.27
2013     2898.28        646.36          139.64             71.74
2014     3976.01        718.07          190.25             77.52
2015     3989.28        838.31          250.75             80.56
2016     4162.26        958.15          329.14             82.18
2017     4197.29       1127.31          443.55             85.34

In [5]:
# Vamos fazer uma descrição dos dados:
df.describe().round(3)

       Hydro(TWh)  Biofuel(TWh)  Solar PV (TWh)  Geothermal (TWh)
count      28.000        28.000          28.000            28.000
mean     2974.167       245.032          57.430            57.014
std       595.937       329.275         113.344            14.851
min      2191.670         3.880           0.090            36.420
25%      2598.630        11.422           0.258            42.330
50%      2718.725        74.330           2.335            55.295
75%      3298.898       365.038          40.105            68.398
max      4197.290      1127.310         443.550            85.340

* Vamos ultilizar a tecnica de IQR para encontar outliers nas nossas variáveis.

In [15]:
# Calculando os quartis da variável hydro:
Q1 = df["Hydro(TWh)"].quantile(0.25)  
Q3 = df["Hydro(TWh)"].quantile(0.75)  
IQR = Q3 - Q1                      

# Definindo limites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Identificando outliers
outliers = (df["Hydro(TWh)"] < limite_inferior) | (df["Hydro(TWh)"] > limite_superior)

# Exibindo resultados
display(f"Q1: {Q1}")
display(f"Q3: {Q3}")
display(f"IQR: {IQR}")
display(f"Limite Inferior: {limite_inferior}")
display(f"Limite Superior: {limite_superior}")
display("Outliers:")
display(outliers)

'Q1: 2598.63'

'Q3: 3298.8975'

'IQR: 700.2674999999999'

'Limite Inferior: 1548.2287500000002'

'Limite Superior: 4349.29875'

'Outliers:'

Year
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013    False
2014    False
2015    False
2016    False
2017    False
Name: Hydro(TWh), dtype: bool

In [16]:
#Calculando os quartis da variável Biofuel:
Q1 = df["Biofuel(TWh)"].quantile(0.25)  
Q3 = df["Biofuel(TWh)"].quantile(0.75)  
IQR = Q3 - Q1                      

# Definindo limites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Identificando outliers
outliers = (df["Biofuel(TWh)"] < limite_inferior) | (df["Biofuel(TWh)"] > limite_superior)

# Exibindo resultados
display(f"Q1: {Q1}")
display(f"Q3: {Q3}")
display(f"IQR: {IQR}")
display(f"Limite Inferior: {limite_inferior}")
display(f"Limite Superior: {limite_superior}")
display("Outliers:")
display(outliers)

'Q1: 11.4225'

'Q3: 365.0375'

'IQR: 353.615'

'Limite Inferior: -519.0'

'Limite Superior: 895.46'

'Outliers:'

Year
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013    False
2014    False
2015    False
2016     True
2017     True
Name: Biofuel(TWh), dtype: bool

In [14]:
#Calculando os quartis da variável Solar PV:
Q1 = df["Solar PV (TWh)"].quantile(0.25)  
Q3 = df["Solar PV (TWh)"].quantile(0.75)  
IQR = Q3 - Q1                      

# Definindo limites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Identificando outliers
outliers = (df["Solar PV (TWh)"] < limite_inferior) | (df["Solar PV (TWh)"] > limite_superior)

# Exibindo resultados
display(f"Q1: {Q1}")
display(f"Q3: {Q3}")
display(f"IQR: {IQR}")
display(f"Limite Inferior: {limite_inferior}")
display(f"Limite Superior: {limite_superior}")
display("Outliers:")
outliers

'Q1: 0.2575'

'Q3: 40.105'

'IQR: 39.8475'

'Limite Inferior: -59.513749999999995'

'Limite Superior: 99.87625'

'Outliers:'

Year
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013     True
2014     True
2015     True
2016     True
2017     True
Name: Solar PV (TWh), dtype: bool

In [17]:
#Calculando os quartis da variável Geothermal (TWh):
Q1 = df["Geothermal (TWh)"].quantile(0.25)  
Q3 = df["Geothermal (TWh)"].quantile(0.75)  
IQR = Q3 - Q1                      

# Definindo limites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Identificando outliers
outliers = (df["Geothermal (TWh)"] < limite_inferior) | (df["Geothermal (TWh)"] > limite_superior)

# Exibindo resultados
display(f"Q1: {Q1}")
display(f"Q3: {Q3}")
display(f"IQR: {IQR}")
display(f"Limite Inferior: {limite_inferior}")
display(f"Limite Superior: {limite_superior}")
display("Outliers:")
display(outliers)

'Q1: 42.33'

'Q3: 68.3975'

'IQR: 26.067499999999995'

'Limite Inferior: 3.228750000000005'

'Limite Superior: 107.49874999999999'

'Outliers:'

Year
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013    False
2014    False
2015    False
2016    False
2017    False
Name: Geothermal (TWh), dtype: bool